.textarea {
    width: 100%;
    border: 1px solid #DFDEDD;
    box-sizing: border-box;
    height: 100px;
    resize: none;
    padding: 9px 10px;

    &::placeholder {
        color: #AEB5B9;
        font: normal 14px/143% Arial;
    }

    &:focus, &:active{
        border-color: #0F8FEE;
        outline: none;
    }
}