.header {
    background-color: @color-dark;
    height: 60px;
    color: #fff;

    &__content {
        height: 60px;
        display: flex;
        align-items: center;
    }

    &__fill {
        flex-grow: 1;
    }

    &__button {
        margin-left: 20px;
    }
}

.header-button-icon {
    width: 30px;
    height: 30px;
    background: no-repeat 50% 50%;
    border: 0;
    cursor: pointer;
    text-indent: -9999px;

    &_search {
        background-image: url('search-icon.svg');
    }

    &_login {
        background-image: url('login-icon.svg');
    }

    &_menu {
        background-image: url('menu-icon.svg');
    }
}
